@tailwind base;
@tailwind components;
@tailwind utilities;

@import url(https://fonts.googleapis.com/css?family=Acme:400,500,700,300,100);

@layer base {
    body {
        @apply font-[Acme];
    }
    li {
        @apply px-4;
        @apply cursor-pointer;
    }
}

  .glowing-border:hover {
    box-shadow: 0 0 50px rgb(0, 255, 255); /* Glow effect on hover */
  }
  
  @keyframes pulse {
    75% {
        opacity: 0.75;
    }
}
.animate-pulse {
    animation: pulse 1s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

.content-div {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 300px;
    height: 250px;
}

.content-div:hover {
    background-image: linear-gradient(to right,
    rgba(27, 96, 247, 0.8),
    hsla(283, 87%, 65%, 0.8)
    )!important;
}
 
.content-div2 {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 300px;
    height: 250px;
}

.content-div2:hover {
    background-image: linear-gradient(to right,
    rgba(183, 0, 255, 0.459),
    hsla(251, 100%, 50%, 0.8)
    )!important;
}

.content-div3 {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 300px;
    height: 250px;
}

.content-div3:hover {
    background-image: linear-gradient(to right,
    rgba(194, 0, 253, 0.8),
    hsla(244, 96%, 49%, 0.8)
    )!important;
}
