@tailwind base;
@tailwind components;
@tailwind utilities;

@import url(https://fonts.googleapis.com/css?family=Acme:400,500,700,300,100);

@layer base {
    body {
        @apply font-[Acme];
    }
    li {
        @apply px-4;
        @apply cursor-pointer;
    }
}

  .glowing-border:hover {
    box-shadow: 0 0 50px rgb(255, 0, 76); /* Glow effect on hover */
  }
  
  @keyframes pulse {
    75% {
        opacity: 0.75;
    }
}
.animate-pulse {
    animation: pulse 1s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

.content-div {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 300px;
    height: 250px;
}

 
.content-div2 {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 300px;
    height: 250px;
}


.content-div3 {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 300px;
    height: 250px;
}


.image{
    margin-left: -1px;
    margin-top: -1px;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.content-skill {
    animation: spin 4s linear;
    transform: rotate(360deg);
    transition: transform 0.25s ease-in-out;

}

/* .tunnel-effect-00 {
    transform: perspective(1000px) rotateX(-35deg) rotateY(2deg) rotateZ(0deg) scaleX(0.6) scaleY(3);
  }

.tunnel-effect-00-text{
    transform: perspective(1000px) rotateX(-35deg) rotateY(2deg) rotateZ(0deg) scaleX(0.6) scaleY(3);
  
}

.tunnel-effect-01 {
    transform: perspective(1000px) rotateX(-75deg) rotateY(0deg) rotateZ(0deg) scaleX(0.75) scaleY(7) scaleZ(0.5)
    
  }

  .tunnel-effect-01-text {
    transform: perspective(1000px) rotateX(-75deg) rotateY(0deg) rotateZ(0deg) scaleX(0.75) scaleY(7) scaleZ(0.5)
    
  }

  .tunnel-effect-02 {
    transform: perspective(1000px) rotateX(-35deg) rotateY(-2deg) rotateZ(0deg) scaleX(0.6) scaleY(3);
  }

.tunnel-effect-02-text{
    transform: perspective(1000px) rotateX(-35deg) rotateY(-2deg) rotateZ(0deg) scaleX(0.6) scaleY(3);
  
} */

.float-up{
    animation: float-up 2s ease-in-out infinite;
}